<div id="filters">
  <a href="/listings/tags/trending">
    <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </div>
  </a>
  <a href="/listings/tags/rooms">
    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div> 
      <p>Rooms</p>
    </div>
  </a>
  <a href="/listings/tags/iconicCities">
    <div class="filter">
      <div><i class="fa-solid fa-city"></i></div>
      <p>Iconic Cities</p>
    </div>
  </a>
  <a href="/listings/tags/mountains">
    <div class="filter">
      <div><i class="fa-solid fa-mountain"></i></div>
      <p>Mountains</p>
    </div>
  </a>
  <a href="/listings/tags/amazingPools">
    <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Amazing Pools</p>
    </div>
  </a>
  <a href="/listings/tags/camping">
    <div class="filter">
      <div><i class="fa-solid fa-campground"></i></div>
      <p>Camping</p>
    </div>
  </a>
  <a href="/listings/tags/farm">
    <div class="filter">
      <div><i class="fa-solid fa-tractor"></i></div>
      <p>Farm</p>
    </div>
  </a>
  <a href="/listings/tags/arctic">
    <div class="filter">
      <div><i class="fa-solid fa-snowflake"></i></div>
      <p>Arctic</p>
    </div>
  </a>
  <a href="/listings/tags/summer">
    <div class="filter">
      <div><i class="fa-solid fa-temperature-high"></i></div>
      <p>Summer</p>
    </div>
  </a>
  <a href="/listings/tags/nature">
    <div class="filter">
      <div><i class="fa-solid fa-tree"></i></div>
      <p>Nature</p>
    </div>
  </a>
  <a href="/listings/tags/cruise">
    <div class="filter">
      <div><i class="fa-solid fa-ship"></i></div>
      <p>Cruise</p>
    </div>
  </a>
  <a href="/listings/tags/sailBoat">
    <div class="filter">
      <div><i class="fa-solid fa-sailboat"></i></div>
      <p>Sail-Boat</p>
    </div>
  </a>
  <a href="/listings/tags/adventure">
    <div class="filter">
      <div><i class="fa-solid fa-trophy"></i></div>
      <p>Adventure</p>
    </div>
  </a>

  <div class="tax-toggle">
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="switchCheckDefault"
      />
      <label class="form-check-label" for="switchCheckDefault"
        >Show Pricing after taxes</label
      >
    </div>
  </div>
</div>
