<footer>
    <div class="f-bottom">
        <div class="f-social-links bottom-content">
            <a href="https://www.instagram.com/therock/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.facebook.com/DwayneJohnson/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://x.com/therock" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="rights bottom-content">&copy; 2025 Voyant Stays. All rights reserved.</div>
        <div class="f-info-links bottom-content">
            <a href="/extras/privacy">Privacy Policy</a>
            <a href="/extras/terms&conditions">Terms of Service</a>
        </div>
    </div>
 
</footer>